@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #e9e9ee;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #7745a5;
  border-radius: 10px;
}